@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Audiowide|Open+Sans:700');


body {
   width: 100%;
   height: 100%;
   text-align: center;
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   margin: 0;
   padding: 0;
   background-color: #808080;


  h1 {
    font-weight: 300;
    font-family: 'Audiowide', cursive;
    font-size: 37px;
    color: #9b0303;
    margin-bottom: 10px;
  }

  p {
    text-align: left;
    margin: 20px 30px 30px 30px;
    line-height: 19px; 
    font-family: 'Open Sans', sans-serif;
  }

  a {
    text-decoration: none;
    display: block;
    color: #aaa;
    font-size: 1rem;
  }
}

.permaHeader{
  width: 100%;
  height: 17vh;
  background: grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}



.instructionTab{

 font-size: 30px;

}

.mainSection{
  display: flex;
  justify-content: space-around;
  background-color: lightgrey
}



.title{

  font-size: 30px;
  font-family: 'Audiowide', cursive;
  
}
.select-style {
   padding: 0;
   margin: 0;
   margin-bottom: 1rem;
   display: inline-block;
   border-radius: .2rem;
   overflow: hidden;
   background-color: #fff;
   background: #fff url('./images/arrowdown.gif') no-repeat 90% 50%;
}

.select-style select {
   padding: .5rem 2rem;
   border: none;
   box-shadow: none;
   background-color: transparent;
   background-image: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   font-size: .8rem;
   font-family: 'Open Sans', sans-serif;
   color: #777;
}

.select-style select:focus {
   outline: none;
}

.clearfix {
   clear: both;
}

.game-wrapper {
   background: #808080;
   min-width: 250px;
   display: inline-block;
   margin-top: 4%;
   padding: 2rem;
   border-radius: .2rem;
   margin-bottom: 2rem;
   
}

.game-screen {
   background: #606060;
   padding: 1rem;
   border-radius: .2rem;
}

.game-screen .game-header {
   display: flex;
   margin-bottom: 1rem;
   color: #bbb;
}

.game-screen .game-header > div {
   flex-grow: 1;
}

.game-screen .game-board {
   margin-bottom: 1rem;
}

.game-screen .game-footer .game-restart-button {
   border: 0;
   background: #9b0303;
   color: black;
   border-radius: .2em;
   padding: .5rem 2rem;
   font-size: .9rem;
   cursor: pointer;
   outline: 0;
}

.zone {
   background: #eee;
    background-size: contain !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    width: 25px;
    height: 25px;
    line-height: 25px;
    float: left;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    border-radius: .2em;
    margin: .2rem;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 2px solid;
    border-left: 2px solid;
}


.zone.is-revealed,
.zone:hover {
   background: #aaa;
}

.zone.is-mine {
   background-image: url(./images/mine.png);
}

.zone.is-mine.is-clicked {
   background-color: #9b0303;
}

.zone.is-flagged {
   background-image: url(./images/flag.png);
}

.zone.is-empty {
   background: transparent;
   border: 1px solid black;
}

.zone.is-low {
   color: #0c6489;
}

.zone.is-medium {
   color: #116609;
}

.zone.is-high {
   color: #9b0303;
}


.infoBox{
  width: 300px;
  height: 400px;
  background-color: white;
  border: 4px solid;
  border-left-color: #9b0303;
  border-bottom-color:#9b0303;
  position: absolute;
  top: 130px;
  left: 65px;
  padding: 5px;
  font-size: 11px;
}
.fa-question-circle:hover {
    content: "\f059";
    color: #9b0303;
}


