<i class="fa fa-question-circle" aria-hidden="true" ng-click="ifClick()"></i>

<div ng-if="showBox" class="infoBox">
	<h1>Instructions</h1>
	<p>You are presented with a board of squares. 
		Some squares contain mines, others don't. 
		
		
		If you click on a square containing a bomb, you lose. 
		If you manage to click all the squares (without clicking on any bombs) you win.
		
		Clicking a square which doesn't have a bomb reveals the number of neighbouring 
		squares containing bombs. Use this information plus some guess work to avoid the bombs.
		To open a square, point at the square and click on it. To mark a square you think is a bomb, 
		point and right-click (or hover with the mouse and press Space).</p>
</div>
			